@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html{
	font-family: 'Roboto Mono', "Hoefler Text", Georgia, "Times New Roman", Times, Roman, serif;
	font-size: 1.125em;
	background: #e3edfc;
}

h1{
	font-size: 1.875em;
	font-weight: bold;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	color: #ffffff;
}

h2 {
  font-size: 1.25em;
  font-weight: lighter;
  text-align: center;
  background: #ffffff;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}